---
---

@import "{{ site.theme }}";

$primary-color: #93c01f;
$secondary-color: #1d71b8;
$text-color: #243033;
$dark-white: #eff3f4;

.page-header {
  background-color: $primary-color;
  background-image: linear-gradient(120deg, $primary-color, $secondary-color);
}

body {
  color: $text-color;
}

a {
  color: $secondary-color;
}

.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary-color;
  }
}

table {
  tr:nth-child(2n) {
    background-color: #fdfdfd;
  }
}

.meta-nav {
  background-color: $text-color;

  @media screen and (max-width: 672px) {
    display: none;
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    align-items: stretch;
    justify-content: flex-end;
    padding: 0;
    margin: 0;

    li {
      border-left: 1px solid #707070;

      a {
        display: block;
        color: #fff;
        padding: .5rem 1rem;
        font-size: 0.83em;
      }
    }
  }
}

.icon {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    background-color: $dark-white;
    border-radius: 5px;

    img {
      width: 48px;
      height: 48px;
    }
  }
}